import React, { FC } from 'react'
import classNames from 'classnames'

export const {{ pascalCase component }}: FC<any> = ({}) => <div className={classNames()}>lorem ipsum</div>

export default {{ pascalCase component }}
